@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

html,body { height:100%;background:#0C152B; }

.background-container{
  position: absolute;
  border-radius: 20%;
  left: 30%;
  width: 600px;
  height: 500px;
  animation: rotate 25s infinite;
  animation-direction: alternate
}
@keyframes rotate {
  0% {
      transform: rotate(10deg);
  }
  100%{
      transform: rotate(360deg);
  }
}
.background-container .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.background-container .shape1 {
  height: 250px;
  width: 250px;
  position: absolute;
  border-radius: 50%;
}

.shape {
  background: linear-gradient(to right, #41d2c6, #2d54fd);
  left: 0px;
  top: 0px;
  transform: translate(0, 20);
}

.shape1 {
  background: linear-gradient(to right, #0055ff, #6504A1);
  left: 50px;
  top: 450px;
  transform: translate(0, 20);
}



.social-media-container{
  padding: 10px;
  height: 550px;
  width: 800px;
  background-color: rgba(255, 255, 255, 0.05);
  position:absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  background-image: url('../assets/Greni3.png');
  text-align: center;

  
  .in{
    width: 100%;
    font-size: 4rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
  }
  .tomas-style{
    background: -webkit-linear-gradient(45deg, #6504A1, #45b0f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p{
    font-size: 2rem;
    color:  #fff  ;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
  }
 
  h4{
    font-size: 2rem;
    color:  #fff  ;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid currentColor;
    margin-left: 25%;
    margin-right: 25%;
  }

          a {
              color: #89c3ef; 
              display: inline-block;
              text-decoration: none;
              font-size: 2rem;
              margin: 10px;
              font-family: 'Montserrat', sans-serif;
              font-weight: 300;
          }
          a:hover{
              color: #fff;
              transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
          }
      
          .icons{
            color: #89c3ef; 
          }

          .icons:hover {
            color: #fff;
          }
  
        }


